body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f0f2f5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 85vh;
  padding: 20px;
}

.left-section {
  margin-right: 60px;
}

.logo {
  font-size: 56px;
  color: #1877f2;
  margin: 0;
  position: relative;
  top: 20px;
}

.description {
  font-size: 28px;
  max-width: 400px;
  margin-top: 0;
  position: relative;
  top: -10px;
  left: 2px;
}

.form-section {
  width: 396px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
}

.login-form input {
  width: 100%;
  padding: 14px;
  margin: 6px 0;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  font-size: 17px;
  outline: none;
}

.login-btn {
  background-color: #1877f2;
  color: #fff;
  font-size: 20px;
  padding: 14px;
  border: none;
  border-radius: 6px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.forgot-link {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #1877f2;
  text-decoration: none;
}

hr {
  margin: 20px 0;
  border: none;
  height: 1px;
  background-color: #dddfe2;
}

.create-account-btn {
  background-color: #42b72a;
  color: #fff;
  font-weight: bold;
  padding: 14px;
  border: none;
  border-radius: 6px;
  display: inline-block;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
}

.create-page-note {
  margin-top: 20px;
  font-size: 14px;
}

.create-page-link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  background-color: #f5f6f7;
  padding: 30px 20px;
  text-align: center;
  font-size: 12px;
  color: #737373;
}

.footer-links {
  margin: 6px 0;
}