
body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background: #f3f5f7;
}

.login-container,
.dashboard-container,
.withdraw-container {
  width: 400px;
  margin: 5% auto;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
  text-align: center;
}

h1 {
  color: #1a1a1a;
  margin-bottom: 1rem;
}

input, button, select {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  background-color: #0070ba;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005c9e;
}

.actions button {
  margin: 1rem 0;
}
